<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" culture="neutral"/>
            <bindingRedirect oldVersion="3.5.8-12.0.1" newVersion="12.0.1" />
         </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" culture="neutral"/>
            <bindingRedirect oldVersion="1.0.0-2.2.0" newVersion="2.1.1"/>
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Microsoft.Extensions.Logging.Console" culture="neutral"/>
            <bindingRedirect oldVersion="1.0.0-2.2.0" newVersion="2.1.1"/>
        </dependentAssembly>    
    </runtime>
</configuration>
